
<form action="/AdminThongKe/XuLyTimKiem1" method="post">
    <div class="container" style="margin-bottom:20px">
        <div class="row">
            <div class="col-md-2" style="font-size: 20px; font-weight: bold;">
                Begin
            </div>
            <div class="col-md-3">
                <input type="date" name="txtDate1" class="form-control">
            </div>
            <div class="col-md-2" style="font-size: 20px; font-weight: bold;">
                End
            </div>
            <div class="col-md-3">
                <input type="date" name="txtDate2" class="form-control">
            </div>
            <div class="col-md-2">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>