@{
    ViewBag.Title = "LuuDatHang";
    Layout = "~/Views/Shared/TrangKhung.cshtml";
}
<div style=" border-radius: 5px; font-size: 25px; font-weight: bold; background-color: #5dddf2; text-align: center;">@ViewBag.tb</div>
