

<form action="/Home/XuLyTimKiem" method="post">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <input type="text" name="txtTuKhoa" class="form-control mb-2 mr-sm-2 text-center" placeholder="Search" style="margin-top:2.5%;" />
            </div>
            <div>
                <input type="submit" value="Search" class="btn btn-primary" style=" margin-top: 11%; margin-left: -19%;" />
            </div>
        </div>
    </div>
</form>